{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">Cause of Leave</th>
          
              </tr>
            </thead>
            <tbody>
            {% for application in application %}
            <tr {% if application.approved == True %} class ="btn-success" {% elif application.approved == False and application.checked == True %} class ="btn-danger" {% endif %}>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ application.user.username }}</td>
                <td>{{ application.cause_of_leave }}</td>
            </tr>
             {% endfor %}
            
         
     
            </tbody>
          </table>
    </div>
</div>
{% endblock %}